exportPattern("^[[:alpha:]]+")
import(locfit,gtools,caTools,Imap,methods,raster,rgdal,ggplot2,lattice,
       GCD,rworldmap,RColorBrewer,sp,pscl)
importFrom(agricolae,kruskal)
S3method(plot,pfCircular)
S3method(plot,pfKruskal)
S3method(plot,pfGridding)
S3method(plot,CHAR)
S3method(plot,pfSiteSel)
S3method(plot,pfComposite)
S3method(plot,pfCompositeLF)
S3method(summary,pfSiteSel)