exportPattern("^[[:alpha:]]+")
import(locfit, gtools, caTools, pscl, Imap, RCurl, devtools, methods)
importFrom(utils)
importFrom(GCD)

S3method(plot,pfCircular)
S3method(plot,CHAR)
S3method(plot,pfSiteSel)
S3method(plot,pfComposite)
S3method(plot,pfCompositeLF)
S3method(summary,pfSiteSel)