exportPattern("^[[:alpha:]]+")
import(locfit, gtools, caTools, pscl, Imap, RCurl, devtools, methods, rgdal, lattice, rworldmap, ggplot2,raster)
importFrom(utils)
importFrom(GCD)
importFrom(latticeExtra)
importFrom(raster)
importFrom(ggplot2)

import(locfit, gtools, caTools, pscl, Imap, RCurl, devtools, methods, rgdal, lattice, rworldmap,raster,RColorBrewer)
importFrom(utils)
importFrom(GCD)
importFrom(latticeExtra)
importFrom(ggplot2)


S3method(plot,pfCircular)
S3method(plot,CHAR)
S3method(plot,pfSiteSel)
S3method(plot,pfComposite)
S3method(plot,pfCompositeLF)
S3method(summary,pfSiteSel)
